<.header>
  New Bank connection
  <:subtitle>Use this form to manage bank_connection records in your database.</:subtitle>
</.header>

<.bank_connection_form changeset={@changeset} action={~p"/bank_connections"} />

<.back navigate={~p"/bank_connections"}>Back to bank_connections</.back>
